<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Add a logger config to see logging messages. - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->
	<bean id="myLoggerConfig"
		class="com.sk.springcore_app3.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
	
	
    <!-- Define your beans here -->
	<bean id="dtdc" class="com.sk.beans.DTDC"/>
	
	<bean id="blueDart" class="com.sk.beans.BlueDart"/>
	
	<bean id="flipkart" class="com.sk.controller.Flipkart">
		<property name="courierService" ref="dtdc"/>
		<property name="itemName" value="laptop"/>
		<property name="itemPrice" value="40000"/>
		<property name="itemQuanity" value="1"/>
	</bean>

</beans>