<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Add a logger config to see logging messages. - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->
	<bean id="myLoggerConfig"
		class="com.sk.main.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
	
	<!-- Loading Properties File -->
	
	
    <!-- Define your beans here -->
    
 	<bean id="bikeParent" class="com.sk.beans.BikeApp" abstract="true">
 		<property name="bikeDetailsList">
 			<list>
 				<value>Honda</value>
 				<value>Apache</value>
 			</list>
 		</property>
 	</bean>
 	
 <!-- 	merge=true merges child elements with parent elements if its false then child elements overrides parent elements -->
 	
 	<bean id="bike" class="com.sk.beans.BikeApp"  parent="bikeParent">
 		<property name="bikeDetailsList">
 			<list merge="true">
 				<value>Bajaj</value>
 			</list>
 		</property>
 	</bean>

</beans>