<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Add a logger config to see logging messages. - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->
	<bean id="myLoggerConfig"
		class="com.sk.main.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
	
	<!-- Loading Properties File -->
	
	
    <!-- Define your beans here -->
    
    <!-- Firstly run constructor Injection setup -->
    
 	<!-- <bean id="fobj" 
 		class="com.sk.beans.First">
 		setup constructor injection
 		<constructor-arg ref="sobj"></constructor-arg>
 	</bean>
 	
 	<bean id="sobj" 
 		class="com.sk.beans.Second">
 		<constructor-arg ref="fobj"></constructor-arg>
 	</bean> -->
 	
 	<bean id="fobjsetter" 
 		class="com.sk.beans.First">
	<!-- setup setter injection -->
	<property name="secondObj" ref="sobj"/>
 	</bean>
 	
 	<bean id="sobj" 
 		class="com.sk.beans.Second">
 		<!-- setup constructor injection -->
 		<constructor-arg ref="fobjsetter"></constructor-arg>
 	</bean>
 	


</beans>