<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Add a logger config to see logging messages. - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->
	<bean id="myLoggerConfig"
		class="com.sk.springcore_app.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>

	<bean id="dbdetails" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="com/sk/commons/DBDetails.properties"/>
		<!-- 
		always use below tag when using "PropertyPlaceholderConfigurer" it tells spring container to ignore
		unresolved dependency suppose 
		service module has separate config uses separate properties file, same with DAO module.
		if service module loaded first then for DAO module spring container can't find its config and throws
		exception unable to resolve the dependency so to resolve this place below tag with every 
		"PropertyPlaceholderConfigurer" 
		-->
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean> 
	
	<bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${db.user}"/>
		<property name="password" value="${db.pwd}"/>
	</bean>
	
	<bean id="loanDAO" class="com.sk.dao.LoanDAO">
		<property name="ds" ref="drds"/>
	</bean>
	
	<bean id="service" class="com.sk.service.LoanService">
		<property name="loanDAO" ref="loanDAO"/>
	</bean>
	
</beans>