<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Add a logger config to see logging messages. - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->
	<bean id="myLoggerConfig"
		class="com.sk.main.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
	
	<!-- Loading Properties File -->
	
	
    <!-- Define your beans here -->
    
    <!-- abstract field is used to stop instantiating of that bean class -->
    
 	<bean id="bikeParent" class="com.sk.beans.BikeApp" abstract="true">
 		<property name="brand" value="Honda"/>
 		<property name="engineCC" value="160cc"/>
 	</bean>
 	
 	<bean id="bike" class="com.sk.beans.BikeApp" parent="bikeParent">
 		<property name="modelNo" value="honda Hornet"/>
 	</bean>
 	
 	<!-- bike 2 bean property overrides bike bean properties -->
 	<bean id="bike2" class="com.sk.beans.BikeApp" parent="bikeParent">
 		<property name="modelNo" value="honda unicorn"/>
 	</bean>
 	
 	<!-- not need to write setter property once again for another bean -->


</beans>